{% load static %}

<div class="keyboard d-none d-md-none d-lg-block">
    <div class="row mb-3 justify-content-center g-0">
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="1" data-alt-value="!" class="btn btn-lg btn-light border keyboard-key">1</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="2" data-alt-value="@" class="btn btn-lg btn-light border keyboard-key">2</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="3" data-alt-value="#" class="btn btn-lg btn-light border keyboard-key">3</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="4" data-alt-value="$" class="btn btn-lg btn-light border keyboard-key">4</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="5" data-alt-value="%" class="btn btn-lg btn-light border keyboard-key">5</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="6" data-alt-value="^" class="btn btn-lg btn-light border keyboard-key">6</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="7" data-alt-value="&" class="btn btn-lg btn-light border keyboard-key">7</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="8" data-alt-value="*" class="btn btn-lg btn-light border keyboard-key">8</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="9" data-alt-value="(" class="btn btn-lg btn-light border keyboard-key">9</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="0" data-alt-value=")" class="btn btn-lg btn-light border keyboard-key">0</a></div>
    </div>
    <div class="row mb-3 justify-content-center g-0">
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="q" class="btn btn-lg btn-light border keyboard-key">q</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="w" class="btn btn-lg btn-light border keyboard-key">w</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="e" class="btn btn-lg btn-light border keyboard-key">e</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="r" class="btn btn-lg btn-light border keyboard-key">r</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="t" class="btn btn-lg btn-light border keyboard-key">t</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="y" class="btn btn-lg btn-light border keyboard-key">y</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="u" class="btn btn-lg btn-light border keyboard-key">u</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="i" class="btn btn-lg btn-light border keyboard-key">i</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="o" class="btn btn-lg btn-light border keyboard-key">o</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="p" class="btn btn-lg btn-light border keyboard-key">p</a></div>
    </div>
    <div class="row mb-3 justify-content-center g-0">
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="a" class="btn btn-lg btn-light border keyboard-key">a</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="s" class="btn btn-lg btn-light border keyboard-key">s</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="d" class="btn btn-lg btn-light border keyboard-key">d</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="f" class="btn btn-lg btn-light border keyboard-key">f</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="g" class="btn btn-lg btn-light border keyboard-key">g</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="h" class="btn btn-lg btn-light border keyboard-key">h</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="j" class="btn btn-lg btn-light border keyboard-key">j</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="k" class="btn btn-lg btn-light border keyboard-key">k</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="l" class="btn btn-lg btn-light border keyboard-key">l</a></div>
    </div>
    <div class="row mb-3 justify-content-center g-0">
        <div class="col-2 d-grid gap-2 mx-auto"><a href="#!" data-value="shift" id="shift-key" class="btn btn-lg btn-light border">Shift</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="z" class="btn btn-lg btn-light border keyboard-key">z</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="x" class="btn btn-lg btn-light border keyboard-key">x</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="c" class="btn btn-lg btn-light border keyboard-key">c</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="v" class="btn btn-lg btn-light border keyboard-key">v</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="b" class="btn btn-lg btn-light border keyboard-key">b</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="n" class="btn btn-lg btn-light border keyboard-key">n</a></div>
        <div class="col-1 d-grid gap-2 mx-auto"><a href="#!" data-value="m" class="btn btn-lg btn-light border keyboard-key">m</a></div>
    </div>
    <div class="row g-3">
        <div class="col-8 d-grid gap-2 mx-auto"><a href="#!" data-value=" " class="btn btn-lg btn-light border keyboard-key">Space</a></div>
        <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" id="back-key" data-value="back" class="btn btn-lg btn-light border">Back</a></div>
    </div>
</div>
<script src="{% static 'app/js/keyboard.js' %}"></script>