{% load static %}

<div class="keyboard d-none d-md-none d-lg-block mb-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row mb-3 justify-content-center g-0">
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="1" data-alt-value="!" class="btn btn-lg btn-light border keyboard-key">1</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="2" data-alt-value="@" class="btn btn-lg btn-light border keyboard-key">2</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="3" data-alt-value="#" class="btn btn-lg btn-light border keyboard-key">3</a></div>
            </div>

            <div class="row mb-3 justify-content-center g-0">
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="4" data-alt-value="$" class="btn btn-lg btn-light border keyboard-key">4</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="5" data-alt-value="%" class="btn btn-lg btn-light border keyboard-key">5</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="6" data-alt-value="^" class="btn btn-lg btn-light border keyboard-key">6</a></div>
            </div>

            <div class="row mb-3 justify-content-center g-0">
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="7" data-alt-value="&" class="btn btn-lg btn-light border keyboard-key">7</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="8" data-alt-value="*" class="btn btn-lg btn-light border keyboard-key">8</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="9" data-alt-value="(" class="btn btn-lg btn-light border keyboard-key">9</a></div>
            </div>

            <div class="row mb-3 g-0">
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="0" data-alt-value=")" class="btn btn-lg btn-light border keyboard-key">0</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" data-value="." data-alt-value=")" class="btn btn-lg btn-light border keyboard-key">.</a></div>
                <div class="col-3 d-grid gap-2 mx-auto"><a href="#!" id="back-key" data-value="back" class="btn btn-lg btn-light border">Delete</a></div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'app/js/keyboard.js' %}"></script>