{% load crispy_forms_tags %}
<form action="{% url 'timesheet' year=current_month.year month=current_month.month %}" method="post">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <label class="form-label" for="day_of_month">Day of month*</label>
            <select id="day_of_month" name="day_of_month" class="form-control form-control-lg {% if form.day_of_month.errors %}is-invalid{% endif %}">
                <option value="Blank">---</option>
                {% if selected_day == current_month_day %}
                    {% for day in days_of_month %}
                        {% if current_month_day == day.day %}
                            <option value="{{ day.day }}" selected>{{ day.label }}</option>
                        {% else %}
                            <option value="{{ day.day }}">{{ day.label }}</option>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for day in days_of_month %}
                        {% if selected_day == day.day %}
                            <option value="{{ day.day }}" selected>{{ day.label }}</option>
                        {% else %}
                            <option value="{{ day.day }}">{{ day.label }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
            {% if form.day_of_month.errors %}
                {% for error in form.day_of_month.errors %}
                    <p class="invalid-feedback"><strong>{{ error }}</strong></p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-4">
            {{ form.hours | as_crispy_field }}
        </div>
        <div class="col-sm-12 col-md-4">
            {{ form.minutes | as_crispy_field }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form.project | as_crispy_field }}
        </div>
        <div class="col-sm-12 col-md-6">
            <label class="form-label">&nbsp;</label>
            <input type="submit" value="Submit" class="form-control form-control-lg btn btn-lg btn-dark">
        </div>
        {% csrf_token %}
    </div>
</form>
<script>
    $(document).ready(function() {
        console.log("{{ current_month_day }}");
        {% if today_is_today %}
            {% if selected_day is None %}
                $('#day_of_month').val("{{ current_month_day }}");
            {% endif %}
        {% endif %}
    });
</script>


